In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import dask.dataframe as dd
import matplotlib.pyplot as plt
import seaborn as sns;sns.set(context='notebook', palette='pastel', style='darkgrid')
%matplotlib inline
from dtw import dtw
import math
import ctypes
from pyspark.sql.types import DoubleType
from pyspark.sql.types import StringType
from pyspark.sql.types import IntegerType
from pyspark.sql.functions import udf , array
from pyspark.sql import functions as F
from pyspark.sql.functions import unix_timestamp
from pyspark.sql.functions import from_unixtime
from pyspark.sql.types import DataType
from pyspark.sql.types import LongType
from pyspark.sql.types import  FloatType
from pyspark.sql.functions import lit
from pyspark.sql.functions import col

In [ ]:
df_spark = spark.read.load("/home/datasciencemlops/Documents/DataScience/Connect/ConnectPET/data/db_merged.parquet/*.parquet")

In [4]:
df_spark.cache()

DataFrame[index: bigint, activity: string, collar_id: bigint, u_id_coleira: string, gx: double, gy: double, gz: double, ax: bigint, ay: bigint, az: bigint, temp: bigint, time_stamp: bigint, pet_id: bigint, size: string, race: string, age: string, genre: string, owner_id: bigint, lat: string, long: string]

In [5]:
#conf = (SparkConf().setMaster("localHost").setAppName("recommender").set("spark.executor.memory", "9g"))

In [5]:
spark = SparkSession.builder \
   .master("local") \
   .appName("Projeto ConnetPet-SPARK") \
   .config("spark.executor.memory", "5gb") \
   .getOrCreate()

In [10]:
from datetime import date,time

In [11]:
# valores temporarios.
df = df_spark[df_spark['collar_id'] == 1571851735]
df = df.toPandas()
#df['data_'] = pd.to_datetime(df['time_stamp'],unit='ms')
#df.sort_values(by=['data_'],inplace=True)
#df = df.reset_index()

In [12]:
#df.columns

In [6]:
df1 = spark.createDataFrame(df)

In [7]:
def convert_values(x):
    return  (x * 32) / 65536

In [8]:
converter_valores_xyx = udf(lambda x : convert_values(x),FloatType())

In [9]:
df2 = df1.withColumn('ax_',converter_valores_xyx('ax'))\
  .withColumn('ay_',converter_valores_xyx('ay'))\
  .withColumn('az_',converter_valores_xyx('az'))

In [10]:
df3 = df2.withColumn('a_xyz_',(F.sqrt(df2['ax_']**2 +F.sqrt(df2['ay_']**2 + F.sqrt(df2['az_']**2)))))

In [11]:
df3.limit(2).toPandas()

,level_0,index,activity,collar_id,u_id_coleira,gx,gy,gz,ax,ay,...,age,genre,owner_id,lat,long,data_,ax_,ay_,az_,a_xyz_
0,61923,164122,NO LABEL,1571851735,8b686065-208e-4095-a269-a39417ad2109,NaN,NaN,NaN,65373,65471,...,,MALE,1571850140,,,2019-10-23 17:30:40.840,31.920410,31.968262,0.215332,32.417344
1,61924,164123,NO LABEL,1571851735,8b686065-208e-4095-a269-a39417ad2109,NaN,NaN,NaN,65055,593,...,,MALE,1571850140,,,2019-10-23 17:30:40.940,31.765137,0.289551,0.588379,31.778040

In [12]:
df3.createOrReplaceTempView('df_')

In [36]:
spark.sql('select  data_  from df_').limit(2).toPandas()

                    data_
0 2019-10-23 17:30:40.840
1 2019-10-23 17:30:40.940

In [29]:
# ver alguns graficos

In [39]:
def plot_cobined(df, plot_title):
    
    x = pd.DataFrame(df['a_xyz_'].values,
                 df['date_'])

    plt.figure(figsize=(20,10))    
    plt.title(plot_title)
    ax = sns.lineplot(data=x, sort=True, dashes=False)
    
    plt.show()

In [34]:
df_pandas = df3.limit(df3.count()).toPandas()